h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: #71bff7;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}
.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(142, 255, 142);
    border: 1px solid black;
    border-radius: 10px;
    
    
}
.text2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(255, 255, 142);
    border: 1px solid black;
    border-radius: 10px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: #f58a59;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}
.text3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(236, 66, 66);
    border: 1px solid black;
    border-radius: 10px;

}